@media screen and (max-width:730px){
    .nav-menu{
        display: none;
    }


    .comecar-botao{
        display: none;
    }

    .menu-icon{
        display: block;
    }

    .mobile-menu{
        display: none;
    }

    .mobile-menu-items{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    main h1{
        font-size: 48px;
    }

    

    .descricao{
        text-align: center;
         padding: 20px 10px;
    }

    .descricao h1{
        font-size: 25px;
    }

    .porque-nossos-cursos,
    .curso-destaque {
        width: 90%;
        margin: 20px auto; /* Centraliza e adiciona espaço entre os cards */
    }

    .contatos-icones{
        font-size: 20px;
    }
    
} 

@media(max-width:1168px){
    .estudante{
        display: none;
    }

    .descricao{
        text-align: center;
    }

    
}

@media(max-width:1076px){
    main ul{
        display:flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 731px) {
    .mobile-menu {
        display: none !important;
    }
    #overlay {
        display: none !important;
    }
}